$text-color: green;
$p-margin-style: 20px;
$background-color: pink;


* { margin: 0;}

.main {
    
    p {
        color: $text-color;
    }

    article {
        background-color: yellow;

        p{
            color: blue;
        }
    }


}