@import 'header';
@mixin fancy-border($size: 1px, $color: black) {
    border: $size dashed $color;
    border-radius: 5px;
}

.message {
    font-size:20px;
    border: 1px solid black;
}

.warning{
    @extend .message;
    color: orange;
}

.error {
    @extend .message;
    color: red;
}

$text-color: green;
$p-margin-style: 20px;
$background-color: pink;
$base-size: 20px;


* { margin: 0;}

header {
    @include fancy-border(10px, blue);
}

.main {
    
    p {
        color: $background-color;
        font-size: $base-size;
        // background-color: $background-color;
    }

    article {
        background-color: yellow;

        p{
            color: blue;
        }
    }


}

button {
    font-size: $base-size * 2;
    // background-color: $background-color - 200px;
}